.places {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.places article {
    padding: 20px;
    margin: 20px;
    padding-bottom: 50px;
    display:inline-block;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    width: 390px;
}

.places h1 {
    text-align: left;
    margin-bottom: 0;
    padding-left: 20px;
    font-size: 30px;
}

/*.article-container article {
    display: inline-block;
    margin: 0px;
}*/
article h2 {
    font-size: 30px;
    text-align: center;
    margin:0px;
    padding: 0px;
}
.places .price_by_night {
    color: #FF5A5F;
    border-color: #FF5A5F;
    border-style: solid;
    border-radius: 180px;
    height: 60px;
    width: 60px;
    font-size: 30px;
    /*display:inline-block;*/
    /*float:inline-end;*/
    display:block;
    float:right;
    text-align: center;
    line-height: 60px;
    margin:0px;
    padding: 10px;
    margin-top: -40px;
}

.places .information {
    height: 80px;
    border-width: 1px 0px;
    border-color: #DDD;
    border-style: solid;
    margin-top: 65px;
    padding-bottom: 20px;
}
.places .information .max_guest,
.places .information .number_rooms,
.places .information .number_bathrooms {
    width: 100px;
    height: 50px;
    margin-top: 15px;
    /*margin-left: 25px;*/
    display: inline-block;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
}

.places .information .max_guest {
    background-image: url('../images/icon_group.png');
}

.places .information .number_rooms {
    background-image: url('../images/icon_bed.png');
}

.places .information .number_bathrooms {
    background-image: url('../images/icon_bath.png');
}

.places .information .max_guest h5,
.places .information .number_rooms h5,
.places .information .number_bathrooms h5 {
    padding: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight: 100;
}
.places .user {
    text-align: left;
    margin: 30px 0px 20px;
}

.places .description {
    text-align: left;
    font-size: 14px;
    max-height: 63px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

.places .amenities {
    width: 100%;
}

.places .amenities h2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #DDD;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 20px;

}

.places .amenities ul {
    text-align: left;
    height: 25px;
    width: 45px;
    padding-bottom: 150px;
}

.places .amenities li {
    list-style: none;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.places .amenities span {
    margin-left: 70px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
    /*border: 1px solid #FF5A5F;*/
    /*padding-right: 50px;*/
}

.places .amenities .pet {
    background-image: url(../images/icon_pets.png);
    margin-left: -10px;
    transform: scale(0.7);
}

.places .amenities .tv {
    background-image: url(../images/icon_tv.png);
    margin-left: -10px;
    transform: scale(0.7);


}
.places .amenities .wifi {
    background-image: url(../images/icon_wifi.png);
    margin-left: -10px;
    transform: scale(0.7);
}

.places .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDD;
    text-align: left;
    padding-bottom: 10px;
}
.places .reviews h3 {
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;
}

.places .reviews p {
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
}
